[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
flask-jwt-extended = "*"
codecov = "*"
coverage = "*"
pytest = "*"
autopep8 = "*"
pylint = "*"
flask-restplus = "*"
psycopg2-binary = "*"
pytest-cov = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
