.button {
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .btn-red {
      background-color: rgba(245, 6, 6, 0.418);
  }
  .btn-blue {
      background-color: rgba(3, 16, 56, 0.842);
  }
  .btn-green{
    background-color: rgb(7, 85, 7);
  }
  .btn-orange{
    background-color: orange;
  }
  .btn-cyan{
    background-color: cyan;
  }
button a{
    color: white;

}
.button-right{
  float: right;
  height: 50px;
}
@media (max-width: 430px){
  .button{
    width: 95%;
  }
}