.navbar-right {
    list-style-type: none;
    display: flex;
    float: right;
}
.nav-pills {
    list-style-type: none;
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
}

.navbar-brand {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.navbar-right li {
    text-align: center;
    margin: 15px auto;
}

.navbar-brand {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .nav-pills {
        display: flex;
        width: 70%;

    }
    .nav-pills button {
        text-align: center;
    }
    
    .navbar-right {
        /* display: flex; */
        /* margin-right: 20px;
        padding: 10px;
        flex-direction: row;
        justify-content: flex-end; */
        float: left;
    }

    .navbar-right li {
        margin: 0;
    }

    .navpill-link, .navbar-link {
        margin-left: 40px;
    }

    .navbar-brand {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover, .navpill-link:hover,
    .navbar-link:hover {
        color: rgba(255, 255, 255, 1);
    }
}