.profile-card{
    border:1px solid #ddd;
    border-radius:5px;
    width:24%;
    min-height:100%;
    margin:0 auto;
    float: right;
    align-items: center;
    margin-bottom: 30px;
    }
.profile-picture{
    height:30%;
    width:100%;
    border-radius:80px;
    border:2px solid transparent;
    margin:5px 0px -5px 5px;
}
.username{
    margin:10px 0px 0px 0px;
    font-family: -apple-system,Ubuntu, 'Helvetica Neue';
    font-weight: 600;
    font-size: 18px;
}
.title-content{
    font-family: -apple-system,Ubuntu, 'Helvetica Neue';
    font-weight: 600;
    font-size: 18px;
}
.edit-profile {
    margin:5px 0px 20px 25px;
}
.user-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.flex-container {
    color: white;
    display: none;
    padding: 20px 20px;
    min-height: 400px;
    width: 73%;
    /* align-content: space-between; */
    flex-wrap: wrap;
    height: auto;
  
  }

.rejected, .resolved, .pending, .drafts{
    width: 20%;
    height: 40%;
    font-size: 30px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;

  }
.flags{
    width: 80%;
    min-width: 360px;
    height: auto;
    margin: 5px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    background-color: white;
  }
  .flag-title{
      color: black;
  }
  .rejected{
      color: red;
      background-color: white;
  }
  .resolved{
      color: green;
      background-color: white;

  }
  .pending{
      color: blue;
      background-color: white;
  }
  .drafts{
      color: rgb(11, 180, 76);
      background-color: white;
  }
  /* #allflags, #redflags, #interventions {
      background-color: #ddd;
  } */
  
  #allflags {background-color: rgba(9, 16, 37, 0.842);}
  #redflags {background-color: rgba(94, 6, 6, 0.692); }
  #interventions {background-color: rgba(38, 80, 38, 0.801);}
@media (max-width: 800px){
.profile-picture{
    height:30%;
    width:90%;
    margin:5px 0px -5px 0px;
    border:2px solid #fff;
    border-radius:45px;
}
.profile-section{
    display: none;
}
.flex-container{
    width: 90%;
}
}
@media (max-width: 600px){
    .flags{
        min-width:200px;
    }
    .flex-container{
        width: 95%;
    }
    .button{
        width: 90%;
    }
    
}
